@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply relative bg-gray-100;
  }

  /* base */
  h1 {
    @apply mb-4 text-3xl font-semibold uppercase;
  }
  h3 {
    @apply text-2xl font-semibold uppercase;
  }

  input,
  select {
    @apply self-start px-4 py-2 text-gray-800 rounded-lg;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

@layer components {
  .btn {
    @apply self-start px-4 py-2 font-bold uppercase rounded-lg hover:opacity-80;
  }

  .btn-primary {
    @apply text-white bg-gray-600;
  }

  .btn-secondary {
    @apply text-white bg-orange-400;
  }
  .btn-danger {
    @apply text-white bg-red-600;
  }
}

@layer utilities {
  .nav-container {
    @apply container max-w-4xl px-6 py-4 mx-auto text-gray-800;
  }

  .section-container {
    @apply container max-w-4xl px-6 py-8 mx-auto text-gray-800;
  }

  .footer-container {
    @apply container max-w-4xl px-6 py-16 mx-auto text-gray-800;
  }

  .form-group {
    @apply flex flex-col gap-2 text-white;
  }
}
